*.hi
*.o
*.swp
*.swo
*.pyc
bin/*
conky/*
ncmpcpp/error.log
mutt/aliases
mutt/gmail
mutt/cache
ranger/__pycache__
ranger/bookmarks
ranger/history
ranger/tagged
weechat/irc.conf
weechat/weechat.conf
weechat/weeget
weechat/*log*
weechat/script/*
xmonad/xmonad-*-linux
xmonad/xmonad.errors
xmonad/history
vim/backups/*
vim/tmp/*
vim/undo/*
