[options]
resize_grip         = false
scroll_on_output    = false
scroll_on_keystroke = true
audible_bell        = false
visible_bell        = false
mouse_autohide      = false
dynamic_title       = true
urgent_on_bell      = true
clickable_url       = true
font                = Envy Code R 9
scrollback_lines    = 1000
icon_name           = terminal
transparency        = 0.5
cursor_blink        = off
cursor_shape        = block

[colors]
foreground = #ddccbb
background = #151515

# black
color0  = #3b3d3e
color8  = #505354
# red
color1  = #f92672
color9  = #ff5995
# green
color2  = #82b414
color10 = #b6e354
# yellow
color3  = #fd971f
color11 = #feed6c
# blue
color4  = #56c2d6
color12 = #8cedff
# magenta
color5  = #8c54fe
color13 = #9e6ffe
# cyan
color6  = #6664a7
color14 = #888cb1
# white
color7  = #ccccc6
color15 = #f8f8f2
