[Unit]
Description=Music Player Daemon

[Service]
ExecStart=/usr/bin/mpd %h/.config/mpd.conf --no-daemon
ExecStop=/usr/bin/mpd --kill

[Install]
WantedBy=vodik.target
