<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="steam-menu" label="Steam Games">
  <item label="Amnesia: The Dark Descent">
    <action name="Execute">
      <command>steam steam://run/57300</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Bastion">
    <action name="Execute">
      <command>steam steam://run/107100</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Crusader Kings II">
    <action name="Execute">
      <command>steam steam://run/203770</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Dungeons of Dredmor">
    <action name="Execute">
      <command>steam steam://run/98800</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="FEZ">
    <action name="Execute">
      <command>steam steam://run/224760</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="FTL: Faster Than Light">
    <action name="Execute">
      <command>steam steam://run/212680</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Frozen Synapse">
    <action name="Execute">
      <command>steam steam://run/98200</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Hotline Miami">
    <action name="Execute">
      <command>steam steam://run/219150</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Kerbal Space Program">
    <action name="Execute">
      <command>steam steam://run/220200</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Left 4 Dead 2">
    <action name="Execute">
      <command>steam steam://run/550</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Organ Trail: Director's Cut">
    <action name="Execute">
      <command>steam steam://run/233740</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Prison Architect">
    <action name="Execute">
      <command>steam steam://run/233450</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Stealth Bastard Deluxe">
    <action name="Execute">
      <command>steam steam://run/209190</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Volume Control">
    <action name="Execute">
      <command>pavucontrol</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <item label="Browser">
    <action name="Execute">
      <command>aurora</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Terminal">
    <action name="Execute">
      <command>termite</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="Steam">
    <action name="Execute">
      <command>steam</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <menu id="steam-menu"/>
  <separator label="System" />
  <menu id="system-menu"/>
  <separator />
  <item label="Exit">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
